#!/usr/bin/env python
PACKAGE = "tandem"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#       Name          Type      Level Description                  Default  Min   Max
# ------------------------------------------------------------------------------------
# Parámetros Eje Y
gen.add("kp_y",       double_t, 0,    "Ganancia Proporcional Y",   0.15,    0.0,  1)
gen.add("ki_y",       double_t, 0,    "Ganancia Integral Y",       0.05,    0.0,  1)
gen.add("kd_y",       double_t, 0,    "Ganancia Derivativa Y",     0.00,    0.0,  1) 
gen.add("int_y_limit",double_t, 0,    "Limite Integral Y",         0.2,     0.0,  0.5) 
gen.add("vy_max",     double_t, 0,    "Velocidad maxima Y",        0.4,     0.0,  1.0)
gen.add("tol_y",      double_t, 0,    "Tolerancia Y (metros)",     0.5,     0.01, 2.0)

# Parámetros Eje Z
gen.add("kp_z",       double_t, 0,    "Ganancia Proporcional Z",   0.1,    0.0,  1)
gen.add("kd_z",       double_t, 0,    "Ganancia Derivativa Z",     0.00,    0.0,  1)
gen.add("ki_z",       double_t, 0,    "Ganancia Integral Z",       0.05,    0.0,  1)
gen.add("vz_max",     double_t, 0,    "Velocidad maxima Z",        0.4,     0.0,  1.0)
gen.add("int_z_limit",double_t, 0,    "Limite Integral Z",         0.2,     0.0,  1.0)
gen.add("tol_z",      double_t, 0,    "Tolerancia Z (metros)",     0.5,     0.01, 2.0)

# Filtros
gen.add("alpha_filter", double_t, 0,  "Filtro paso bajo (0-1)",    0.3,     0.0,  1.0)
gen.add("max_dv",       double_t, 0,  "Max aceleracion por ciclo", 0.10,    0.0,  1.0)

exit(gen.generate(PACKAGE, "vertical_inspector", "VerticalInspector"))