<!-- <launch>
  Configurable arguments
  <arg name="robot_name" default="girona500"/>
  <arg name="enable_rviz" default="false"/>
  <arg name="robot_xacro" default="$(find girona500_description)/urdf/payload.urdf.xacro"/>
    
  <include file="$(find cola2_girona500)/launch/sim_start.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="robot_xacro" value="$(arg robot_xacro)"/>
      <arg name="enable_rviz" value="$(arg enable_rviz)"/>
  </include>

  <node name="vertical_inspector" pkg="tandem" type="inspection.py" output="screen"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"/>

</launch> -->


<launch>

    <!-- <arg name="detection_topic" default="/net_hole_detector/hole"/> -->
    <arg name="detection_topic" default="/yolo/filtered_stereo_pos"/>


  <node name="vertical_inspector" pkg="visual_inspector" type="corrosion_ri.py" output="screen">
      
      <param name="inspection_width" value="6.0" /> 
      
      <param name="inspection_depth" value="3.0" /> 
      
      <param name="step_down_z" value="0.5" />

      <param name="start_z" value="0.5" />

      <param name="vy_max" value="0.3" /> 
      
      <param name="vz_max" value="0.3" /> 

      <param name="detection_topic" value="$(arg detection_topic)" />

  </node>


</launch>
