<launch>
  <!-- Configurable arguments -->
  <arg name="robot_name" default="girona500"/>
  <arg name="enable_rviz" default="true"/>
  <arg name="robot_xacro" default="$(find girona500_description)/urdf/payload.urdf.xacro"/>
    
  <include file="$(find cola2_girona500)/launch/sim_start.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="robot_xacro" value="$(arg robot_xacro)"/>
      <arg name="enable_rviz" value="$(arg enable_rviz)"/>
  </include>

  <node name="vertical_inspector" pkg="tandem" type="inspection.py" output="screen"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"/>

</launch>
