
<launch>
    <arg name="input_image_topic"/>
    <arg name="output_topic"/>
    <arg name="weights_path"      default="$(find corrosion_detector)/weights/best_corrosion_weights.pt"/>

    <!-- Nodes inicialitzats quan fem detecció de forats -->
    <node name="yolo_inference" pkg="corrosion_detector" type="corrosion_spot_detector.py" output="screen">
        <param name="pathWeights" value="$(arg weights_path)"/>
        <param name="is_lab_method" value="True"/>
        <rosparam command="load" file="$(find corrosion_detector)/config/UJI_tuning_params.yaml" />  

        <remap from="camera_input" to="$(arg input_image_topic)"/>
        <remap from="yolo/detections"  to="$(arg output_topic)"/>
    </node>



</launch>